* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black;
}

.grid {
  display: flex;
  flex-direction: row;
  /* border: 1px solid grey; */
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  background-color: black;
  padding: 5px;
  margin: 20px;
}


.wall {
  background-color: black;
  border: 2px solid blue
}

.portal {
  background-color: black;
  /* background-color: lightblue; */
}

.walkway {
  color: darkgrey;
  /* background-color: black */
}

.specialfood {
  /* background-color: yellow; */
  background-color: #C4A484;
  /* border: 1px solid brown; */
  border-radius: 50%
  color: darkgrey;
  border-radius: 50%
}

.food {

  /* background-color: grey; */
  background-image: radial-gradient(yellow 10%, transparent 0);
}

.pacman {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 50%;
  /* animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite; */
}


/* .pacman__mouth {
  background: black; 
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
} */

.ghost1 {
  background-image: url('https://i.imgur.com/I058VZS.png');
  background-size: cover;
  border-radius: 50%
}

.ghost2 {
  background-image: url('https://i.imgur.com/EOtNCNH.png');
  background-size: cover;
  border-radius: 50%
} 

.ghost3 {
  background-image: url('https://i.imgur.com/T9wFHOG.png');
  background-size: cover;
  border-radius: 50%
}

.ghost4 {
  background-image: url('https://i.imgur.com/fFaNyEZ.png');
  background-size: cover;
  border-radius: 50%
}

.pink {
  background-color: pink;
}

.edibleGHOST1 {
  background-image: url('https://i.imgur.com/Lo1iSCH.png');
  background-size: cover;
  border-radius: 50%

}

.edibleGHOST2 {
  background-image: url('https://i.imgur.com/Lo1iSCH.png');
  background-size: cover;
  border-radius: 50%

}

.edibleGHOST3 {
  background-image: url('https://i.imgur.com/Lo1iSCH.png');
  background-size: cover;
  border-radius: 50%

}

.edibleGHOST4 {
  background-image: url('https://i.imgur.com/Lo1iSCH.png');
  background-size: cover;
  border-radius: 50%

}


