* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  margin: 20px;
}


.wall {
  background-color: grey;
  border: 1px solid white
}

.portal {
  background-color: blue
}

.walkway {
  color: darkgrey;
  /* background-color: pink; */
}

.specialfood {
  background-color: red;
  border-radius: 50%
}

.food {
 background-color: beige;
 border: 1px solid brown;
 border-radius: 50%
}

.pacman {
  background-color: yellow;
  border: 2px solid orange;
  border-radius: 50%
}