* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  background-color: black;
  padding: 5px;
  margin: 20px;
}


.wall {
  background-color: black;
  border: 2px solid blue
  /* border: 2px solid #3e08d1 */
}

.portal {
  background-color: black;
}

.walkway {
  color: darkgrey;
  /* background-color: black */
}

.specialfood {
  background-color: #C4A484;
  border: 7px solid black;
  border-radius: 50%
}


.food {
  background-image: radial-gradient(yellow 10%, transparent 0);
}



.pacman_right { animation: changeBgPCR 1s infinite; background-size:cover }
@keyframes changeBgPCR{
    0%,100%  {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
    25% {background-image: url('https://i.imgur.com/3H81OY6.png');}
    50% {background-image: url('https://i.imgur.com/3H81OY6.png');}
    75% {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
}


.pacman_left { animation: changeBgPCL 1s infinite; background-size:cover }
@keyframes changeBgPCL{
    0%,100%  {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
    25% {background-image: url('https://i.imgur.com/AmjLTIR.png');} 
    50% {background-image: url('https://i.imgur.com/AmjLTIR.png');}
    75% {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
}

.pacman_up { animation: changeBgPCU 1s infinite; background-size:cover }
@keyframes changeBgPCU{
    0%,100%  {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
    25% {background-image: url('https://i.imgur.com/j7koYdf.png');} 
    50% {background-image: url('https://i.imgur.com/j7koYdf.png');}
    75% {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
}

.pacman_down { animation: changeBgPCD 1.5s infinite; background-size:cover }
@keyframes changeBgPCD{
    0%,100%  {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
    25% {background-image: url('https://i.imgur.com/YHjR0Da.png');} 
    50% {background-image: url('https://i.imgur.com/YHjR0Da.png');}
    75% {background-image: url('https://i.imgur.com/VzeQyFZ.png');}
}


.ghost1 {
  background-image: url('https://i.imgur.com/I058VZS.png');
  background-size: cover
}

.ghost2 {
  background-image: url('https://i.imgur.com/EOtNCNH.png');
  background-size: cover
} 

.ghost3 {
  background-image: url('https://i.imgur.com/T9wFHOG.png');
  background-size: cover
}

.ghost4 {
  background-image: url('https://i.imgur.com/fFaNyEZ.png');
  background-size: cover
}

.edibleGHOST1  {
  background-image: url('https://i.imgur.com/MrqTkEd.png');
  background-size: cover
}

.edibleGHOST2  {
  background-image: url('https://i.imgur.com/MrqTkEd.png');
  background-size: cover
}

.edibleGHOST3  {
  background-image: url('https://i.imgur.com/MrqTkEd.png');
  background-size: cover
}

.edibleGHOST4 {
  background-image: url('https://i.imgur.com/MrqTkEd.png');
  background-size: cover
}

.edibleGHOST1B { animation: changeBg 1s infinite; background-size:cover }
@keyframes changeBg{
    0%,100%  {background-image: url('https://i.imgur.com/MrqTkEd.png');}
    25% {background-image: url('https://i.imgur.com/Z6X6iAk.png');}
    50% {background-image: url('https://i.imgur.com/MrqTkEd.png');}
    75% {background-image: url('https://i.imgur.com/Z6X6iAk.png');}
}

.edibleGHOST2B { animation: changeBg 1s infinite; background-size:cover }

.edibleGHOST3B { animation: changeBg 1s infinite; background-size:cover }

.edibleGHOST4B { animation: changeBg 1s infinite; background-size:cover }

.overlay {
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5%;
}
.hidden {
  display: none
}

.cherry {
  background-image: url('https://i.imgur.com/wF2gzFO.png');
  background-size: cover
}

button {
  background-color: black;
  color: blue;
  text-transform: uppercase;

}

.intro { 
  text-align: center;
  text-transform: uppercase;

}