* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  margin: 20px;
}


.wall {
  background-color: grey;
  border: 1px solid white
}

.portal {
  background-color: lightblue;
}

.walkway {
  color: darkgrey;
  /* background-color: pink; */
}

.specialfood {
  background-color: #C4A484;
  border: 1px solid brown;
  border-radius: 50%
  color: darkgrey;
  border-radius: 50%
}

.food {
  background-color: beige;
  border: 1px solid brown;
  border-radius: 50%
}

.pacman {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 50%
}

.ghost1 {
  background-image: url('https://i.imgur.com/I058VZS.png');
  background-size: cover;
  border-radius: 50%
}

.ghost2 {
  background-image: url('https://i.imgur.com/EOtNCNH.png');
  background-size: cover;
  border-radius: 50%
} 

.ghost3 {
  background-image: url('https://i.imgur.com/T9wFHOG.png');
  background-size: cover;
  border-radius: 50%
}

.ghost4 {
  background-image: url('https://i.imgur.com/fFaNyEZ.png');
  background-size: cover;
  border-radius: 50%
}

.pink {
  background-color: pink;
}

.edibleGHOST {
  background-image: url('https://i.imgur.com/Lo1iSCH.png');
  background-size: cover;
  border-radius: 50%

}

